html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0; 
    background-color: #ffffff;
}

header img {
    width: 75px;
    height: 75px;
    margin-right: 17%;
    padding: 10px auto;
}
.container {
  display: flex;
  justify-content: space-around;
 margin-left: 10%;
 padding-top: 1.5rem;
 padding-bottom: 2rem;
 width: 80%;

}

.logo {
    padding-top: 30px auto;
    text-align: right;
    width: 100%;

}
.logo h3 {
    font-size: 30px;
    font-weight: bold;
    padding-right: 150px;
}

span {
    display: block;
}

#hero {
    background-color: #f2f2f2;
    margin: 0;
}
 .hero-left a {
    text-decoration: none;
    color: black;
    

 }
 
 .hero-left li :hover {
    color: blue;
 }

.hero-left h1 {
    font-size: 85px;
    text-shadow: 2px 6px 10px  black;
}


.hero-left p , ul {
    font-size: 1.3rem;
}

.hero-left {
    max-width: 50%;
    margin-top: -13px;
}

.hero-right {
    padding-top: 20px;
    max-width: 50%;
}

#about {
    background-color: #e6e6e6;
    margin: 0;
    padding-bottom: 30px;
}

.hero-right , 
.hero-left {
    padding-top: 30px;
}

.about-right p {
    font-size: 1.5rem;
    padding-top: 40%;
}

#skills {
    padding-top: 55px;
    background-color: #d9d9d9;
}

.skills-left h2 {
    font-size: 55px;
    font-weight: bold;
    padding-top: 43%;
    text-align: center;

}

.skills-left {
    color: black;
}

.skills-left span {
    margin-top: 7px;
}
.right-box {
    display: flex;
    flex-direction: row;
   
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.icon img {
    width: 100px;
    heigth: 105px;
    padding-bottom: 45px;
}

#footer {
    background-color: #d3d3d3;
}

footer {
    position: relative;
}



.container-end {
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-left: 10%;
   padding-top: 1.5rem;
   width: 80%;
  
  }
.container-end h3 {
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-bottom: -8px;
}

.container-end p {
    font-size: 14px;
    margin-bottom: 40px;
}
 .footer-flex a img {
    width: 30px;
    heigth: 30px;
    margin-bottom: 60px;
    transition: transform 0.3s ease;
 }

 .footer-flex a img:hover {
transform: scale(1.5);
 }

.footer-flex a:nth-child(1) img,
.footer-flex a:nth-child(2) img {
    margin-right: 15px; 
}
#copyright {
    font-size: 12px;
    
}



